h1{
    color: red
}

.NomeDaLoja{
    display:block;
    background-color: red;
    color:white;
    text-align:center;
    width: 100vw;
    font-size: 40px;
    font-family:'Arial';
    margin-top: 0px;
}

.slogan {

display:block;
width: 100vw;
text-align:center;
margin:20px;
font-size: 30px;
}

.TextoApresentacao{
    display:block;
    width: 100vw;
    text-align:center;
    font-size: 20px;
}

.Hiperlinks{
    display:block;
    width:100vw;
    text-align:center;
    background-color: black;
    margin-top: 0px;
    font-size: 15px;
    font-family: 'Arial BLack';
}

.Hiperlink{
    margin: 2px;
    background-color: silver;
    color:black;
    padding:5px;
    text-decoration: none;

}

.FotosProdutos{
width: 100vw;
text-align: center;
display:inline-block;
}

.ImagemApresentacao{
    height: 400px;
    display:inline-block;
}

.LegendaFotos{
    display:block;
    width: 100vw;
    text-align: center;
    font-family:'arial';
}

.EspacamentoLegendas{
    margin: 0px 100px;
}

.CorpoSite{
    background-color: black;
    color:white;
}

.LetrasBrancas{color:white;}
.LetrasPretas{color:black;}
.Siga-nos{
    background-image: url(https://img.ibxk.com.br/2019/06/20/20210037158108.jpg?w=1120&h=420&mode=crop&scale=both);
    color:white;
    display:block;
    width: 100vw;
    margin:auto;
    text-align: center;
    font-size: 15px;
    font-family:arial;
}
.RedesSociais {
height: 50px;
display:inline-block;
text-align: center;
margin:3px;
}

.FundoCabecalho{background-image: url(https://img.ibxk.com.br/2019/06/20/20210037158108.jpg?w=1120&h=420&mode=crop&scale=both);}
.Tabela{
   display:block;
   width: 100vw;
   margin-left: 35%;
   text-align:center;
  
}

.Tabela th, .Tabela td{
    border: white 1px solid;
}

.FotoTabela{
    height: 100px;
}

.ImagemCabecalho{
    display:block;
    width: 500px;
    margin:auto;
    
}

.rodape{
    display: block;
    width: 100vw;
    text-align: center;
}

.ocultar{
    display:none;
}

.Centralizar{
    display:block;
    width: 100vw;
    margin:auto;
    text-align:center;
}

.TitulosOutros{
    display:block;
width: 100vw;
text-align:center;
margin:20px;
font-size: 30px;
}

.CorpoOutros{
    background-color: black;
    color:white;
    padding-bottom: 30vh;
}

body{
background-color: black;
}